.blue {
    height: 200px;
    width: 200px;
    background-color: blue;
    margin-top: 20px;
}

.red{
    height: 200px;
    width: 200px;
    background-color: red;
    margin-top: 20px;
}
#white {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}
#late {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    border: 3px solid black;
}
#bouton {
    margin-top: 30px;
    margin-bottom: 30px;
}
#bloc_test_color_change_1, #bloc_test_color_change_2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#boutons {
    margin-top: 20px;
}
.clickable {
    margin-top: 15px;
}

























.btn {
    position: relative;
    top: 700px;
    //  + .aventure_box{
    //     // transform: translate(150px);
    //     // transform: rotate(360deg);
    //     // opacity: 1;
    //     animation: move_box 4.4s ease-in;
    //     span{
    //         transform: translateY(500%) rotate(0deg) scale(1);
    //         transform-origin: bottom;
    //     }
    // }
}
.aventure_box{
        // transform: translate(150px);
        // transform: rotate(360deg);
        // opacity: 1;
        animation: move_box 4.4s ease-in forwards;
        transform-origin: bottom;
        // + .box_1 {
        //     animation: move_box_1 4.4s ease-in forwards;
        //     transform-origin: bottom;
        // }
        // + .box_2 {
        //     animation: move_box_2 4.4s ease-in  forwards;
        //     transform-origin: bottom;
        // }
        span{
            animation: move_box_1 5s ease forwards;
            // transform: translateY(500%) rotate(0deg) scale(1);
            transform-origin: bottom;
        }
    }

.aventure_box{
    border: 2px solid black;
    height: 300px;
    width: 300px;
    // transition: transform 30ms ease-in-out ;
    overflow: hidden;
    // opacity: 0;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: black 15px 15px 15px;
    span {
        display: inline-block;
        display: flex;
        // transform: translateY(2500%) rotate(360deg);
        justify-content: center;
        align-items: center;
    }
    
}

.stick {
    height: 300px;
    width: 0px;
    border: 4px solid black;
}

.stick{
    animation: move_stick 4.4s ease-in forwards;
    transform-origin: top;
}
@keyframes move_box {
    0%{
        transform: scaleY(0.01) perspective(200px) ;
    }
    100% {
        transform: scaleY(1) perspective(300px) translateZ(60px);
    }
}

@keyframes move_box_1 {
    0%{
        transform: translateY(500%) scale(0.2) rotate(0deg);
            
    }
    100% {
        transform: translateY(0%) scale(3) rotate(360deg);
    }
}

@keyframes move_stick {
    0%{
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}



#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 500px;
    position: absolute;
}


// $cd-btn: #011c37;
// $cd-txt: #15DEA5;
// .btn {
//     background: $cd-btn;
//     color: $cd-txt;
//     font-size: 3rem;
//     cursor: pointer;
//     padding: 1.85rem 3rem;
//     border-radius: 10rem;
//     transition: transform 4000ms ease-out;
//     &:hover {
//         transform: scale(1.95);
//     }}

.chargement {
    position: relative;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #2c3e50;
    border-bottom: 10px solid #e74c3c;
    width: 100px;
    height: 100px;
    animation: 3s linear infinite;
  }
  
  .chargement::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100px;
    height: 100px;
    border-left: 10px solid blue;
    border-right: 10px solid yellow;
    animation: border 4s ease forwards;
  }
  
  

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
//   @keyframes border {
//     0% {
//       transform: scaleY(0);
//     }
//     100% {
//       transform: scaleY(1);
//     }
//   }


@keyframes border {
        0% {
          transform:b ;
        }
        100% {
          transform: scaleY(1);
        }
      }